<!-- Sidebar taxonomy: Categories and Tags for archive pages -->
{% include base_path %}

<div class="sidebar-taxonomy">
  {% comment %}Categories{% endcomment %}
  {% if site.categories.size > 0 %}
  <h3 class="sidebar-taxonomy__title">{{ site.data.ui-text[site.locale].categories_label | default: "Categories" }}</h3>
  <ul class="sidebar-taxonomy__list">
    {% for category in site.categories %}
      {% if category[0] != "" %}
      <li><a href="{{ base_path }}/categories/#{{ category[0] | slugify }}">{{ category[0] }} ({{ category[1].size }})</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% comment %}Tags{% endcomment %}
  {% if site.tags.size > 0 %}
  <h3 class="sidebar-taxonomy__title">{{ site.data.ui-text[site.locale].tags_label | default: "Tags" }}</h3>
  <ul class="sidebar-taxonomy__list">
    {% for tag in site.tags %}
      {% if tag[0] != "" %}
      <li><a href="{{ base_path }}/tags/#{{ tag[0] | slugify }}">{{ tag[0] }} ({{ tag[1].size }})</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</div>